<div class="w-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <% content_for :title, "Uploads" %>

  <header class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Uploads</h1>
    <%= render_button as: :link, href: new_upload_path do %>
      <%= inline_svg_tag 'upload-icon.svg', class: 'size-6 stroke-current mr-2' %>
      Upload File
    <% end %>
  </header>

  <div id="uploads" class="min-w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @uploads.each do |upload| %>
      <%= link_to(upload) do %>
        <%= render_card class: 'relative overflow-hidden' do %>
          <div class="p-4">
            <h3 class="text-lg font-medium truncate"><%= upload.name %></h3>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
